[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
requests = "*"
requests-oauthlib = "*"
xmltodict = "*"
jxmlease = "*"

[dev-packages]
black = "*"
bumpversion = "==0.5.3"
coverage = "*"
flake8 = "*"
pipenv = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
python-dateutil = "*"
Sphinx = "*"
tox = "*"

[requires]
python_version = ">=3.8"
